{% load static %}

<div class="item home-div" id="home">
  <div class="content-home">
    <div class="home-text">
      <div class="h-name">
        <div class="name-text">Manuel</div>
        <div class="last-text">Paredon</div>
      </div>
      <div class="h-text"> 
        <div class="phrase-text">Data scientist jr.</div>
      </div>
    </div>
    <div class="home-photo">
      <div class="h-photo">
        <img alt="photo-home" src="{% static 'images/Home-photo.png' %}">
      </div>
    </div>
  </div>
</div>