{% load static %}

<div class="item about-div" id="about">
  <div class="title-sec-about">
    <div class="title-about en-ta"><h1>Me</h1></div>
  </div>
  <div class="content-about">
    <div class="about-photo">
      <div class="pht-me-1"><img alt="me-photo-1" src="{% static 'images/me-1.jpg' %}"></div>
      <div class="cont-me-txt">
        <a href="https://github.com/pxdonmanu" target="_blank"><i class='bx bxl-github bxIcon'></i></a>
        <a href="https://www.linkedin.com/in/manuel-p-352195264/" target="_blank"><i class='bx bxl-linkedin-square bxIcon'></i></a>
        <a href="https://www.instagram.com/pxdon.mxnu/?hl=es-la" target="_blank"><i class='bx bxl-instagram-alt bxIcon'></i></a>
      </div>
    </div>
    <div class="about-text">
      <div class="cont-bio">
        <h1 class="a-title">My Bio</h1>
        <p class="a-text bio-res">Hello! I'm Manuel, an 18-year-old guy passionate about solving problems that involve data analysis. I love using statistical and mathematical tools, as well as programming, for the extraction and manipulation of large data structures in order to obtain valuable information that enables informed decision-making. I am committed to continuous learning and applying new techniques and tools to enhance my skills in data analysis and visualization, as well as in developing predictive models and innovative solutions.</p>
      </div>
      <div class="cont-table">
        <table class="a-table">
          <tr>
            <td class="tbl-title">Full name:</td>
            <td class="tbl-text">Paredon Rivera Jesus Manuel</td>
          </tr>
          <tr>
            <td class="tbl-title">Nationality:</td>
            <td class="tbl-text">Mexican</td>
          </tr>
          <tr>
            <td class="tbl-title">Residence:</td>
            <td class="tbl-text">Mexico City, Mexico</td>
          </tr>
          <tr>
            <td class="tbl-title">Date of birth:</td>
            <td class="tbl-text">16/04/2005</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>