{% load static %}

<div class="item vision-div" id="vision">
  <div class="content-vision">
    <div class="ctn-blob">
      <svg class="blob-figure" viewBox="15 5 160 190" xmlns="http://www.w3.org/2000/svg">
        <path fill="#F2F4F8" d="M36.8,-31.1C45.5,-18.3,49.1,-3.2,45.7,9.9C42.3,23,32,34.1,19.1,40.8C6.1,47.5,-9.5,49.8,-29.3,46C-49.1,42.2,-73,32.1,-77,16.9C-81,1.7,-65,-18.7,-48.9,-33.2C-32.7,-47.7,-16.4,-56.3,-1.2,-55.3C14,-54.4,28,-43.9,36.8,-31.1Z" transform="translate(100 100)" />
        <foreignObject x="20" y="20" width="120" height="120">
          <div xmlns="http://www.w3.org/1999/xhtml" class="center-content">
            <div class="ctn-text-blob">
              <h1>Visión</h1>
              <div class="ctn-btn-text">
                <div class="ctn-elements">
                  <div class="text-add">
                    <div class="i-txt"><i class='bx bxs-bulb'></i></div>
                    <div class="p-txt"><p>Desarrollo de modelos predictivos que ofrezcan resultados innovadores.</p></div>
                  </div>
                  <div class="text-add">
                    <div class="i-txt"><i class='bx bx-trending-up'></i></div>
                    <div class="p-txt"><p>Extracción de datos para generar conocimiento estratégico que brinde a la empresa una ventaja competitiva.</p></div>
                  </div>
                  <div class="text-add">
                    <div class="i-txt"><i class='bx bxs-check-shield'></i></div>
                    <div class="p-txt"><p>Potenciamiento de la seguridad y privacidad de los datos.</p></div>
                  </div>
                  <div class="text-add">
                    <div class="i-txt"><i class='bx bx-chip'></i></div>
                    <div class="p-txt"><p>Aportación de soluciones con inteligencia artificial ética y responsable</p></div>
                  </div>
                  <div class="text-add">
                    <div class="i-txt"><i class='bx bxs-bullseye'></i></div>
                    <div class="p-txt"><p></p></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </foreignObject>
      </svg>
    </div>
  </div>
</div>