{% load static %}

<div class="item about-div" id="about">
  <div class="title-sec-about">
    <div class="title-about"><h1>¿Quién soy?</h1></div>
  </div>
  <div class="content-about">
    <div class="about-photo">
      <div class="pht-me-1"><img alt="me-photo-1" src="{% static 'images/me-1.jpg' %}"></div>
      <div class="cont-me-txt">
        <a href="https://github.com/pxdonmanu" target="_blank"><i class='bx bxl-github bxIcon'></i></a>
        <a href="https://www.linkedin.com/in/manuel-p-352195264/" target="_blank"><i class='bx bxl-linkedin-square bxIcon'></i></a>
        <a href="https://www.instagram.com/pxdon.mxnu/?hl=es-la" target="_blank"><i class='bx bxl-instagram-alt bxIcon'></i></a>
        {% comment %} <a href="" target="_blank"><i class='bx bxl-whatsapp bxIcon'></i></a> {% endcomment %}
      </div>
    </div>
    <div class="about-text">
      <div class="cont-bio">
        <h1 class="a-title">Autobiografía</h1>
        <p class="a-text">¡Hola! Soy Manuel, un chico de 18 años apasionado por la resolución de problemas que implican el análisis de datos. Me encanta utilizar herramientas estadísticas y matemáticas, así como la programación, para la extracción y manipulación de grandes estructuras de datos, con el fin de obtener información valiosa que permita tomar decisiones acertadas. Estoy comprometido a seguir aprendiendo y aplicando nuevas técnicas y herramientas para mejorar mis habilidades en el análisis y visualización de datos, así como en el desarrollo de modelos predictivos y soluciones innovadoras.</p>
      </div>
      <div class="cont-table">
        <table class="a-table">
          <tr>
            <td class="tbl-title">Nombre completo:</td>
            <td class="tbl-text">Paredón Rivera Jesús Manuel</td>
          </tr>
          <tr>
            <td class="tbl-title">Nacionalidad:</td>
            <td class="tbl-text">Mexicano</td>
          </tr>
          <tr>
            <td class="tbl-title">Residencia:</td>
            <td class="tbl-text">Ciudad de México</td>
          </tr>
          <tr>
            <td class="tbl-title">Fecha de nacimiento:</td>
            <td class="tbl-text">16/04/2005</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
